body {
  background-color: #E6F2E6;
  align: center;
  padding: 50px 0px 0px 0px;
}

.row-footer {
  margin: 0px auto;
  padding: 5px 0px;
}

#the-footer {
  background-color: #E0E6DA;
  border-top: 1px solid #E6F2E6;
}

.jumbotron {
  margin: 0px auto;
  border-bottom: 1px solid #E6F2E6;
}

.navbar-inverse {
  background: #868686;
  border-color: #656565;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #55cd33;
}


.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #55cd33;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #55cd33;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #55cd33;
}


.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #55cd33;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #55cd33;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #55cd33;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
