#landing-page-jumbotron {
    background-image: url('../images/11.png');
    color: #404040;
    border-bottom: 1px solid #E0E6DA;
    font-family: 'Oxygen', sans-serif;
}

.cent-text {
    text-align: center;
}

.cent {
    margin: auto;
}

.label1 {
    color: #7cd228;
    margin-right: 8px;
}

.label2 {
    color: #026e00;
    text-align: center;
}

.header-001 {
    max-width: 720px;
    padding: 24px;
    margin-top: 24px;
    border: 3px solid #026e00;
    background-image: url('../images/card-background_720.png');
}


.cft-button-1 {
    display: inline-block;
    background-color: #DAE6DA;
}

.primary-concept {
    text-align: center;
    color: #026e00;
}

.secondary-concept {
    margin-top: 36px;
    margin-bottom: 24px;
    color: #7cd228;
}

.card {
    margin-top: 24px;
    background-color: #f3f1f5;
    min-height: 120px;
    max-width: 720px;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #cecece;
    border-radius: 16px 10px;
    box-shadow: 0px 0px 7px 2px #a0a0a0;
}

.text-1 {
    color: #333333;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.text-elem-0002 {
    color: #333333;
    font-size: 16px;
    font-family: 'Lora', serif;
    display: block;
}

.editing-enabled {
    background-color: #eaeae0;
}
