.controls-bar {
    /*background-color: #026e00;*/
    background-color: #629557;
    border-bottom: 1px solid #81dc55;
    margin-bottom: 16px;
    height: 96px;
}

.controls-wrapper {
    max-width: 720px;
    margin: auto;
}

/*********************************************/



#concepts-item {
    min-height: 64px;
    font-family: 'Oxygen', sans-serif;
    max-width: 720px;
}

.concepts-item-block {
    margin: 0px;
    display: inline-block;
}

.cib-inner-content {
    vertical-align: middle;
}

.concept-link {
    font-size: 18px;
    text-decoration: none;
    color: #5aa638;
}

.concepts-item a:hover a:focus {
    color: #a5f138;
}

.concepts-item-edit {
    float: right;
}
