
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <form name="concept-form">
                    <div class="wrapper001">
                        <div class="header-001 cent">
                            <h1 class="primary-concept">
                                <input type="text" ng-model="card.name">
                            </h1>
                            <h4 class="label1">DEFINITION</h4>
                            <textarea class="text-1" ng-model="card.definition">{{card.definition}}</textarea>
                            <div ng-show="editRequested" ng-hide="!editRequested">
                                <button type="button" class="btn btn-xs btn-danger" aria-label="Cancel Editing" ng-click="requestCancelEditing()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="false"> Cancel</span>
                                </button>
                                <button type="button" class="btn btn-xs btn-success" aria-label="Save Changes" ng-click="saveConcept()">
                                    <span class="glyphicon glyphicon-save" aria-hidden="false"> Save</span>
                                </button>
                            </div>
                            <div ng-show="!editRequested" ng-hide="editRequested">
                                <button type="button" class="btn btn-xs btn-danger" aria-label="Continue Editing" ng-click="continueEditing()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"> Cancel</span>
                                </button>
                                <button type="button" class="btn btn-xs btn-primary" aria-label="Confirm Exit Editing" ng-click="exitEditing()">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"> Exit</span>
                                </button>
                            </div>
                        </div>

                        <div class="cent">

                            <div class="card cent">
                                <p class="cent-text">
                                    <h4 class="cent-text">
                                        <input type="text" class="label2-ed" ng-model="card.relatedConcept1">
                                    </h4>
                                <p>
                                    <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                                </p>
                                    <textarea type="text" class="text-1 related-concept-description-ed" ng-model="card.relation1Description">
                                        {{card.relation1Description}}
                                    </textarea>
                                </p>
                            </div>

                            <div class="card cent">
                                <p class="cent-text">
                                    <h4 class="cent-text">
                                        <input type="text" class="label2-ed" ng-model="card.relatedConcept2">
                                    </h4>
                                <p>
                                    <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                                </p>
                                    <textarea type="text" class="text-1 related-concept-description-ed" ng-model="card.relation2Description">
                                        {{card.relation2Description}}
                                    </textarea>
                                </p>
                            </div>

                            <div class="card cent">
                                <p class="cent-text">
                                    <h4 class="cent-text">
                                        <input type="text" class="label2-ed" ng-model="card.relatedConcept3">
                                    </h4>
                                <p>
                                    <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                                </p>
                                    <textarea type="text" class="text-1 related-concept-description-ed" ng-model="card.relation3Description">
                                        {{card.relation3Description}}
                                    </textarea>
                                </p>
                            </div>

                            <div class="card cent">
                                <p class="cent-text">
                                    <h4 class="cent-text">
                                        <input type="text" class="label2-ed" ng-model="card.relatedConcept4">
                                    </h4>
                                <p>
                                    <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                                </p>
                                    <textarea type="text" class="text-1 related-concept-description-ed" ng-model="card.relation4Description">
                                        {{card.relation4Description}}
                                    </textarea>
                                </p>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
