
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <div class="wrapper001">
                    <div class="header-001 cent">
                        <h1 class="primary-concept">{{card.name}}</h1>
                        <h4 class="label1">DEFINITION</h4>
                        <p class="text-1">{{card.definition}}</p>

                        <div ng-show="!editRequested" ng-hide="deleteRequested">
                            <button type="button" class="btn btn-xs btn-danger" aria-label="Delete" ng-click="requestDelete()">
                                <span class="glyphicon glyphicon-trash" aria-hidden="false"> Delete</span>
                            </button>
                            <a ui-sref="app.conceptsitemedit({id: card._id})">
                                <button type="button" class="btn btn-xs btn-primary" aria-label="Edit">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="false"> Edit</span>
                                </button>
                            </a>
                        </div>

                        <div ng-show="deleteRequested">
                            <button type="button" class="btn btn-xs btn-danger" aria-label="Cancel Delete Request" ng-click="cancelDeleteRequest()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"> Cancel</span>
                            </button>
                            <button type="button" class="btn btn-xs btn-primary" aria-label="Confirm Delete Request" ng-click="deleteConcept()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"> Delete</span>
                            </button>
                        </div>

                    </div>

                    <div class="cent">
                        <div class="card cent">
                            <p class="cent-text">
                                <h4 class="cent-text label2">
                                    {{card.relatedConcept1}}
                                </h4>
                            <p>
                                <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                            </p>
                            <p class="text-1 related-concept-description">
                                    {{card.relation1Description}}
                            </p>
                        </div>

                        <div class="card cent">
                            <p class="cent-text">
                                <h4 class="cent-text label2">
                                    {{card.relatedConcept2}}
                                </h4>
                            <p>
                                <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                            </p>
                            <p class="text-1 related-concept-description">
                                    {{card.relation2Description}}
                            </p>
                        </div>

                        <div class="card cent">
                            <p class="cent-text">
                                <h4 class="cent-text label2">
                                    {{card.relatedConcept3}}
                                </h4>
                            <p>
                                <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                            </p>
                            <p class="text-1 related-concept-description">
                                    {{card.relation3Description}}
                            </p>
                        </div>

                        <div class="card cent">
                            <p class="cent-text">
                                <h4 class="cent-text label2">
                                    {{card.relatedConcept4}}
                                </h4>
                            <p>
                                <span class="label1">RELATED CONCEPT DESCRIPTION</span>
                            </p>
                            <p class="text-1 related-concept-description">
                                    {{card.relation4Description}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
